{% extends '!theme/base.html' %}

{% block external %}
{{ super() }}
<link rel="stylesheet" href="{{ SITEURL }}/static/alectryon/alectryon.css" />
<link rel="stylesheet" href="{{ SITEURL }}/static/custom.css" />
<link rel="stylesheet" href="{{ SITEURL }}/static/iosevka-slab/webfont.css" />
<link rel="stylesheet" href="{{ SITEURL }}/static/source-sans-pro/source-sans-pro.css" />
{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="{{ SITEURL }}/static/alectryon/alectryon.js"></script>
{% endblock %}
