#content, #featured {
    overflow: visible; /* don't truncate goal bubbles */
}

.highlight {
    background: none;
}

body {
    font-size: 1.1em;
}

main article code,
main article kbd,
main article pre,
main article samp,
main article tt,
.alectryon-io {
    font-family: "Iosevka Slab Web", "Iosevka Web", "Fira Code", "Source Code Pro", "Liberation Mono", "DejaVu Sans Mono", monospace;
    font-feature-settings: "XV00" 1; /* Use Coq ligatures when Iosevka is available */
    font-size: 0.9em;
}

aside nav ul li {
    text-transform: none;
}

.highlight .ch, .highlight .cs, .highlight .gh, .highlight .gs,
.highlight .gu, .highlight .kc, .highlight .kd, .highlight .kn,
.highlight .nd, .highlight .nl, .highlight .sc, .highlight .se {
    font-weight: 500; /* Semibold, to not conflict with Alectryon's hover face */
}

/* Override  */
@media screen and (min-width: 768px) {
    body {
        align-content: stretch;
        display: flex;
    }

    aside {
        position: static;
        width: 15rem;
        min-width: 15rem;
    }

    main {
        box-sizing: border-box;
        flex-grow: 1;
        height: 100%;
        margin: 0;
        overflow: auto;
        position: static;
        width: unset;
    }

    main article {
        margin: auto;
        max-width: 80rem;
        padding: 0 5%;
    }

    @media (any-hover: hover) and (min-width: 90rem) {
        article p {
            width: 55%;
        }

        article .alectryon-toggle:checked ~ p {
            width: unset;
        }
    }
}
